@import "~normalize.css/normalize.css";

.App {
  text-align: center;
  /* changed */
  background-color: #18191a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.messaging-bar {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  background: #0f2027;
  background: -webkit-linear-gradient(
    to right,
    rgb(58, 59, 60),
    rgb(36, 37, 38)
  );
  background: linear-gradient(to right, rgb(58, 59, 60), rgb(36, 37, 38));
  box-shadow: 0px 4px 4px rgb(2, 191, 249), 0px 4px 4px rgb(0, 250, 17);
  height: 80px;
  width: 80px;
  bottom: 30px;
  right: 30px;
  border: none;
  border-radius: 50%;
  color: #e4e6eb;
  font-size: 40px;
}

.messaging-bar:hover {
  color: rgb(28, 193, 176);
}

.messaging-bar-avatar {
  height: 32px;
  background-color: #242526;
  border-radius: 50%;
  border: 3px solid #2354bd;
  display: inline-block;
}

.messaging-bar-avatar-container {
  margin-right: 15px;
}

.footer {
  height: 75px;
  width: 100%;
  color: transparent;
}

/* .main-container {
  display:flex;
  flex-direction:row 
} */