.modal-chat-exterior {
  position: fixed;
  left:0;
  top:0;
  right:0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
}
.modal-chat-exterior.show {
  opacity: 1;
  pointer-events:visible;
}

.modal-chat-body{
  background-color: white;
  width: 850px;
  height:250px;
  transform: translateY(-200px);
  transition: all 0.3s ease-in-out;
}


.modal.show .modal-chat-body{
  transform: translateY(0);
}

