.footer-wrapper {
  display: flex;
  justify-content: center;
  bottom:0;
  width: 100%;

  .App-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 95%;
    height: 200px;
    border-top: 2px solid rgb(58, 59, 60);

    ul {
      display: flex;
      margin: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      justify-content: space-evenly;
      align-items: center;

      li {
        display: flex;
        width: 100%;
        height: 85%;
        flex-direction: column;
        justify-content: space-evenly;

        h4 {
          display: flex;
          justify-content: center;
          align-items: center;
          color: rgb(35, 123, 150);
          width: 95%;
          border-radius: 15px;
          font-family: "Fira Code", "monospace";
        }

        .social-container {
          display: flex;
          justify-content: space-around;
          align-items: center;
          height: 45%;
          width: 95%;
          border-radius: 15px;
          box-shadow: 0px 2px 2px rgb(2, 191, 249), 0px 2px 2px rgb(0, 250, 17);

          .github {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 60px;
            color: grey;
            border-radius: 50%;
            cursor: pointer;
          }

          .github:hover {
            color: white;
          }

          .linkedIn {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 60px;
            color: grey;
            border-radius: 50%;
            cursor: pointer;
          }

          .linkedIn:hover {
            color: rgb(61, 107, 167);
          }

          .twitter {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            font-size: 60px;
            color: grey;
            border-radius: 50%;
            cursor: pointer;
          }

          .twitter:hover {
            color: rgb(3, 159, 230);
          }
        }
      }
    }
  }
}
