.forum-banner {
  width: 100%;
  height:370px;
  opacity: 0.95;
  box-shadow: 0px 20px 20px rgb(2, 191, 249) , 0px 20px 30px rgb(0, 250, 17);
}

.forum-main-container{
  display: flex;
  flex-direction: row;
}
.ideshown{
  margin-left:500px;
}

