.make-post {
  margin: 140px 140px;
  overflow: auto;
  border-radius: 25px;
  background-color: rgb(128, 128, 128);
  box-shadow: 0px 20px 20px rgb(2, 191, 249), 0px 20px 30px rgb(0, 250, 17);

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 20px;
    background-color: rgb(58, 59, 60);
    overflow: auto;

    .header-left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .avatar {
      height: 45px;
      width: 45px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
    }

    .label {
      font-size: 25px;
      margin-top: 7px;
      margin-left: 7px;
      font-weight: bold;
      background-color: black;
      background-image: linear-gradient(
        185deg,
        rgb(22, 250, 110),
        rgb(35, 84, 189)
      );
      background-size: 100%;
      background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
    }
  }

  .body {
    display: flex;
    height: 350px;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 37, 38);

    .make-post-form {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 95%;
      height: 95%;
      border-radius: 15px;
      box-shadow: inset 0 0 1.5px 1.5px rgba(40, 40, 40, 0.25);

      .make-post-input {
        width: 95%;
        height: 60%;
        padding: 0.7em;
        border: none;
        outline: none;
        overflow: none;
        resize: none;
        border-radius: 15px;
        background-color: rgb(20, 20, 20, 0.7);
        color: rgb(85, 85, 85);
        font-family: "Fira Code", monospace;
        font-size: 1rem;
        font-weight: 400;
        caret-color: rgb(33, 233, 63);
      }

      .make-post-input:focus {
        box-shadow: 0px 0px 10.5px 10.5px rgba(0, 0, 0, 0.4);
        background-color: rgb(20, 20, 20, 0.8);
        color: rgba(193, 224, 180, 0.824);
      }

      .make-post-input::placeholder {
        color: rgb(170, 170, 170, 0.5);
        font-size: 1.7em;
        padding: 10px;
      }

      .make-post-input:focus::placeholder {
        color: rgba(193, 224, 180, 0.824);
      }

      .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        border-radius: 15px;
        font-weight: 700;
        background-image: linear-gradient(
          185deg,
          rgb(22, 250, 110, 0.6),
          rgb(35, 84, 189, 0.6)
        );
      }

      .alert {
        justify-content: center;
        width: 95%;
      }
    }
  }
}
